<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710478551591-3sesikd4il6klhmkpbvr954p3qmt12f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710478551591-3sesikd4il6klhmkpbvr954p3qmt12f0</string>
	<key>API_KEY</key>
	<string>AIzaSyDGlLT6HI6zNJ_nP7FqDzIx18Yas33WJHI</string>
	<key>GCM_SENDER_ID</key>
	<string>710478551591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MohammadAbuayyash.whatsapp-clone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-e5e0f</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-e5e0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710478551591:ios:7019aed50d85fc3c264c02</string>
</dict>
</plist>